body
{
	background: #02b7c2;
	margin:0;
}
.a0
{
	padding: 3%;
	margin-left: 20%;
	margin-right: 20%;
	background: white;
	border-radius: 500px;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.a1
{
	padding-top: 10%;
}

.a2
{
	text-align: center;
	color: black;
}

.a3
{
	width: 30%; 
	margin: 25px auto;
}

.btn
{
	border-radius: 500px;
}